{{define "Blog"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Редактирование</title>
    {{template "head"}}
</head>
<body>
    <nav class="menu">
        <div class="elem"><a href="/index">ЛОГОС</a></div>
        <div class="elem"><a href="/createView">СОЗДАТЬ ПОСТ</a></div>
        <div class="elem"><a href="/find">АВТОРЫ</a></div>
    </nav>

    <form class="editForm" onsubmit="createPost()">
        <input type="hidden" id="ID" name="ID">
        <input class="text" type="text" id="namePost" name="namePost" placeholder="Введите название поста...">
        <textarea class="text" type="textarea" id="post" name="post" placeholder="Введите текст поста..."></textarea>
        <input class="buttonCreate" type="submit" value="Опубликовать">
    </form>

    <script>
        function createPost() {
            alert("Пост добавлен")
            let NewPost = {
                Name: document.getElementById("namePost").value,
                Post: document.getElementById("post").value,
            };

            fetch("/createPost", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                body: JSON.stringify(NewPost)
            })
        };
    </script>
</body>
</html>
{{end}}

{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/fontawesome-free-5.13.0-web/fontawesome-free-5.13.0-web/css/all.css"/>
{{end}}
