{{define "Blog"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Name}}</title>
    {{template "head"}}
</head>
<body>
    <h1>{{.Name}}</h1>
        {{range .Blog}}
            <div class="post">
                <div class="id">Номер поста: {{.Id}}</div>
                <div class="name">{{.Name}}</div>
                <div class="body">{{.Body}}</div>
            </div>
        {{end}}
</body>
</html>
{{end}}

{{define "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />

{{end}}
