{{define "page"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{.Title}}</title>
        {{ template "Resources"}}
        {{ template "JS"}}
    </head>

    <body>
        <div class="uk-card uk-card-default uk-card-body">
        <progress class="uk-progress" value="{{.Tasks.TasksWithStatus true}}" max="{{ len .Tasks }}"></progress>
            <h3>{{.Title}}</h3>
            <span>Всего задач: {{len .Tasks}}, выполненно {{.Tasks.CompletePercent}}%</span>
            {{ template "Tasks" .}}
        </div>
    </body>

</html>
{{ end }}

{{ define "Tasks" }}
<div class="uk-card uk-card-body">
    <ul class="uk-list">
        {{ range $key, $value := .Tasks }}
            <li>
                <div class="uk-card uk-card-default uk-card-body">
                    {{ if .Completed }}
                        <input task-id="{{$key}}" class="uk-checkbox" type="checkbox" checked>
                    {{ else }}
                        <input task-id="{{$key}}" class="uk-checkbox" type="checkbox"> 
                    {{ end }}

                    <span>{{.Text}}</span>
                    <div class="uk-align-right">
                        {{ range .Labels }}
                            <span class="uk-label">{{.}}</span>
                        {{ end }}
                    </div>
                </div>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}


{{ define "JS" }}
<script>
    window.onload = async () =>{
        let checkBoxes = document.querySelectorAll('input')
        for (checkBox of checkBoxes){
            checkBox.onclick = async function() {
                let taskID = this.getAttribute('task-id')
                let taskCompleted = this.checked

                let resp = await fetch(`${taskID}/${taskCompleted}`, {method: "POST"})
                let data = await resp.json()
                console.log(data)
                window.location.reload()
            }
        }
    }
</script>

{{ end }}


{{ define "Resources"}}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit-icons.min.js"></script>
{{ end }}